<div class="container">
  <br>
  <h1>Mitarbeiter (ID: {{employeeData?.id}})</h1>
  <hr>
  <div *ngIf="employeeData !== undefined; else loading">
    <div>
      <div>
        <b>Vorname</b><br>
        <label [hidden]="editMode">{{employeeData.firstName}}</label>
        <input type="text" [hidden]="!editMode" [(ngModel)]="employeeData.firstName">
      </div>
      <br>
      <div>
        <b>Nachname</b><br>
        <label [hidden]="editMode">{{employeeData.lastName}}</label>
        <input type="text" [hidden]="!editMode" [(ngModel)]="employeeData.lastName">
      </div>
      <br>
      <div>
        <b>Straße</b><br>
        <label [hidden]="editMode">{{employeeData.street}}</label>
        <input type="text" [hidden]="!editMode" [(ngModel)]="employeeData.street">
      </div>
      <br>
      <div>
        <b>Postleitzahl</b><br>
        <label [hidden]="editMode">{{employeeData.postcode}}</label>
        <input type="text" maxlength="5" [hidden]="!editMode" [(ngModel)]="employeeData.postcode">
      </div>
      <br>
      <div>
        <b>Stadt</b><br>
        <label [hidden]="editMode">{{employeeData.city}}</label>
        <input type="text" [hidden]="!editMode" [(ngModel)]="employeeData.city">
      </div>
      <br>
      <div>
        <b>Telefon</b><br>
        <label [hidden]="editMode">{{employeeData.phone}}</label>
        <input type="text" [hidden]="!editMode" [(ngModel)]="employeeData.phone">
      </div>
    </div>
    <hr>
    <div>
      <button class="btn btn-light my-2 my-sm-auto" (click)="goBack()">↩</button>
      <button class="btn btn-secondary my-2 my-sm-auto" (click)="editMode=!editMode" [hidden]="editMode">🖊 Bearbeiten</button>
      <button class="btn btn-success my-2 my-sm-auto" (click)="update()" [hidden]="!editMode">💾 Speichern</button>
    </div>
    <div style="color:red" *ngIf="errorMessage">
      Beim Speichern ist ein Fehler aufgetreten: {{errorMessage}}<br>
      Bitte korrigieren sie ihre Angaben!
    </div>
  </div>
</div>

<ng-template #loading>
  <h2>Loading... Please wait</h2>
</ng-template>

