<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-2"></div>
    <div class="col-lg-6 col-md-8 login-box site-pos">
      <img class="col-lg-12 login-title" title="Logo" src="assets/img/banner.png" alt="image">

      <div class="col-lg-12 login-form">
        <div class="col-lg-12 login-form">
          <form class="login-box-pos">
            <div class="form-group">
              <label class="form-control-label">USERNAME</label>
              <input name="usrInput" type="text" class="form-control" [(ngModel)]="loginData.username">
            </div>
            <div class="form-group">
              <label class="form-control-label">PASSWORD</label>
              <input name="pwdInput" type="password" class="form-control" [(ngModel)]="loginData.password">
            </div>

            <div class="col-lg-12 login">
              <div class="col-lg-6 login-btm login-button">
                <button type="submit" class="btn btn-outline-primary login-btn-pos" (click)="login()">LOGIN</button>
              </div>
              <div *ngIf="isLoginFailed" class="col-lg-6 login-btm login-text login-failed">
                <label>Login fehlgeschlagen!</label><br>
                <label>&nbsp;{{errorMessage}}</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </div>
</div>

