<div class="container">
  <br>
  <h1>Neuen Mitarbeiter erstellen</h1>
  <hr>

  <div class="form-group">
    <div>
      <p>Vorname<span style="color:red">*</span><br>
        <input type="text" [(ngModel)]="newEmployee.firstName">
      </p>

      <p>Nachname<span style="color:red">*</span><br>
        <input type="text" [(ngModel)]="newEmployee.lastName">
      </p>

      <br>

      <p>Straße<span style="color:red">*</span><br>
        <input type="text" [(ngModel)]="newEmployee.street">
      </p>

      <p>Postleitzahl<span style="color:red">*</span><br>
        <input type="text" maxlength="5" [(ngModel)]="newEmployee.postcode">
      </p>

      <p>Stadt<span style="color:red">*</span><br>
        <input type="text" [(ngModel)]="newEmployee.city">
      </p>

      <br>

      <p>Telefon<span style="color:red">*</span><br>
        <input type="text" [(ngModel)]="newEmployee.phone">
      </p>
    </div>
  </div>

  <hr>

  <button class="btn btn-light my-2 my-sm-auto" (click)="goBack()">↩</button>
  <button class="btn btn-success my-2 my-sm-auto" (click)="create()">Speichern</button>

  <div style="color:red" *ngIf="errorMessage">
    Beim Speichern ist ein Fehler aufgetreten: {{errorMessage}}<br>
    Bitte korrigieren sie ihre Angaben!
  </div>
</div>
