<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="navbar-brand logo" src="/assets/img/banner.png" alt="image">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " >
          <a class="nav-link" href="#">Startseite<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" (click)="createNewEmployee()">Mitarbeiter erstellen</a>
        </li>
      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" >Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
