.asText {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: -moz-hyperlinktext;
}

.tabeAusr {
  width: 100%;
  padding-top: 20px;
  margin-left: 5%;
}

.suchAusr {
  padding-top: 20px;
  margin-left: 10%;
}
