<div style="margin: 1%;">
  <div class="row">
    <div class="col-8">
      <div class="tabeAusr">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Vorname</th>
              <th scope="col">Nachname</th>
              <th scope="col">Straße</th>
              <th scope="col">Postleitzahl</th>
              <th scope="col">Stadt</th>
              <th scope="col">Telefon</th>
              <th scope="col" colspan="2">Aktionen</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let e of employees | async | filterOnName : search">
              <td>{{e.id}}</td>
              <td>{{e.firstName}}</td>
              <td>{{e.lastName}}</td>
              <td>{{e.street}}</td>
              <td>{{e.postcode}}</td>
              <td>{{e.city}}</td>
              <td>{{e.phone}}</td>
              <td>
                <button class="btn btn-outline-info my-2 my-sm-0" title="Anzeigen/Bearbeiten" (click)="editEmployee(e)">📋</button>
              </td>
              <td>
                <button class="btn btn-outline-warning my-2 my-sm-0" title="Löschen" (click)="deleteEmployee(e)">❌</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-4" id="Test">
      <div class="form-inline suchAusr">
        <input class="form-control mr-sm-2" type="Suchen" placeholder="Suchen" aria-label="Suchen" [(ngModel)]="search">
        <button class="asText" title="Zurücksetzen" [hidden]="!search" (click)="search = ''" >➖</button>
      </div>
    </div>
  </div>
</div>
